@use 'sass:color';

// Catppuccin Mocha
// https://catppuccin.com/palette
$text: color.to-space(hsl(226deg, 64%, 88%), rgb);
$green: color.to-space(hsl(115deg, 54%, 76%), rgb);
$gap: 1.5rem;

* {
  font-family: 'Inter';
  font-size: 1rem;
  color: $text;
  min-width: 0;
  min-height: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

.Bar {
  * {
    font-weight: bold;
  }
}

.Container {
  padding: 0 calc($gap/2);
  > * {
    padding: 1rem calc($gap/2);
  }
}

.Workspaces {
  .workspace {
    background: transparent;
    opacity: 0.25;
    transition: all 0.2s;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      opacity: 1;
    }
  }

  .focusedWorkspace {
    opacity: 1;
  }

  label {
    font-size: 0.6rem;
  }
}

.Battery {
  &.Charging {
    color: $green;
  }
}
