@define-color text #cdd6f4;
@define-color off rgba(255, 255, 255, 0.25);
@define-color green #9ece6a;
@define-color red #f7768e;

/* Catppuccin Mocha Palette */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

/* @define-color text     #cdd6f4; */
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: "Inter";
  font-size: 1em;
}

#waybar.main {
  background: rgba(30, 30, 46, 0);
  margin: 0 10px;
  /* padding-bottom: 0px; */
  /* border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 1); */
    color: @text;
  /* text shadodw */
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
#waybar.bottomBorders {
  background: rgba(30, 30, 46, 0);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 1);
}

#waybar.topBorders {
  background: rgba(30, 30, 46, 0);

  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 1);
}

#workspaces,
#cpu,
#temperature,
#memory,
#tray,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#battery,
#clock {
  padding: 0px 0px;
  margin: 0px 10px;
}

#cpu {
  margin-left: 20px;
}

#workspaces button {
  color: rgba(255, 255, 255, 0.25);
  padding: 5px;
  border-radius: 100;
  border-width: 0;
  border: none;
}

#workspaces button:hover {
  color: @text;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  color: @text;
}

#tray {
  margin: 5px 5px 5px 5px;
  border-radius: 16px;
  padding: 0px 5px;
  /*border-right: solid 1px #282738;*/
}

#bluetooth.off {
  color: @off;
}

#network {
}

#pulseaudio {
}

#pulseaudio.muted {
  background: transparent;
  color: @off;
}

#backlight {
}

#battery {
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: @red;
}

#clock {
  color: @text;
  /* background-color: #282828; */
  margin-right: 20px;
  /*border-left: solid 1px #282738;*/
}
