@define-color text #cdd6f4;
@define-color off rgba(255, 255, 255, 0.25);
@define-color green #9ece6a;
@define-color red #f7768e;

/* Catppuccin Mocha Palette */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

/* @define-color text     #cdd6f4; */
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: monospace;
  font-size: 1em;
}

.main {
  background: transparent;
  color: @text;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#workspaces button {
  color: rgba(218, 218, 218, 0.25);
  padding: 0.5em;
  border-width: 0px;
  border: none;
  transition: color;
  transition-duration: 0.5s;
}

#workspaces button:hover {
  color: @text;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:first-child {
  padding-left: 1.5em;
}

#clock {
  font-family: monospace;
  padding-right: 2em;
  padding-left: 0.75em;
}

.modules-right widget label,
.modules-right widget image {
  min-width: 1.5em;
  padding: 0px 0.5em;
}

tooltip label {
  font-family: 'SFProDisplay Nerd Font';
}

#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted {
  color: @off;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: @red;
}

#tray {
  opacity: 1;
}

